In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector


db = mysql.connector.connect(host="localhost",
                            username="root",
                            password="bidsdeba3114",
                            database="ecommerce")

cur=db.cursor()

# List all unique cities where customers are located.

In [2]:
query = """select distinct(customer_city) from customers """

cur.execute(query)

data = cur.fetchall()

df=pd.DataFrame(data)
df.head()

                       0
0                 franca
1  sao bernardo do campo
2              sao paulo
3        mogi das cruzes
4               campinas

# Count the number of orders placed in 2017.

In [3]:
query = """select count(order_id) from orders where year(order_purchase_timestamp)=2017 """

cur.execute(query)

data = cur.fetchall()

"total orders placed in 2017 are", data[0][0]

('total orders placed in 2017 are', 360808)

# Find the total sales per category.

In [ ]:
query = """ select products.product_category category,
round(sum(payments.payment_value),2) sales
from products join order_items
on products.product_id = order_items.product_id
join payments 
on payments.order_id = order_items.order_id
group by category
"""

cur.execute(query)

data = cur.fetchall()

df = pd.DataFrame(data , columns = ["Category" , "Sales"])
df
print(query)
cur.execute(query)
print(cur.fetchall())
data= cur.fetchall()
print(data)

# Calculate the percentage of orders that were paid in installments.

In [ ]:
query = """ select sum(case when payment_installments >= 1 then 1
else 0 end)/count(*)*100 from payments
"""

cur.execute(query)

data = cur.fetchall()

data
"the percentage of orders that were paid in installments is",data[0][0]

# Count the number of customers from each state.

In [ ]:
query = """ select customer_state , count(customer_id)
from customers group by customer_state
"""

cur.execute(query)
data = cur.fetchall()
data
df = pd.DataFrame(data, columns = ["state", "customer_count" ])
df=df.sort_values(by = "customer_count", ascending=False)

plt.bar(df["state"], df["customer_count"])
plt.xticks(rotation = 90)
plt.show()

In [ ]:
cur.execute(query)
data = cur.fetchall()
df = pd.DataFrame(data, columns = ["state", "customer_count" ])
df=df.sort_values(by = "customer_count", ascending=False)

plt.figure(figsize = (8,2))
plt.bar(df["state"], df["customer_count"])
plt.xticks(rotation = 90)
plt.show()

# Calculate the number of orders per month in 2018

In [ ]:
query = """ select month(order_purchase_timestamp) months , count(order_id) order_count
from orders where year(order_purchase_timestamp) = 2018
group by months
"""

cur.execute(query)
data= cur.fetchall()
data

In [ ]:
cur.close()
cur = conn.cursor()

In [ ]:
cur.fetchall()

In [ ]:
query = """ select monthname(order_purchase_timestamp) months , count(order_id) order_count
from orders where year(order_purchase_timestamp) = 2018
group by months
"""

cur.execute(query)
data= cur.fetchall()
df=pd.DataFrame(data, columns = ["months", "order_count"])
o = ["Janauary", "February", "March", "April", "May", "June" ,"July", "August" ,"September", "October"]

ax=sns.barplot(x = df["months"],y = df["order_count"], data =  df,  order = o)
plt.xticks(rotation= 90)

ax.bar_label(ax.containers[0])
plt.title("Count of Orders by month is 2018")
plt.show()

# Find the average number of products per order, grouped by customer city.

In [ ]:
query = """with count_per_order as
(SELECT orders.order_id, orders.customer_id, count(order_items.order_id) as oc
from orders join order_items
on orders.order_id = order_items.order_id
group by orders.order_id , orders.customer_id)

select customers.customer_city, round( avg(count_per_order.oc),2) average_orders
from customers join count_per_order
on customers.customer_id = count_per_order.customer_id
group by customers.customer_city order by average_orders desc
"""

cur.execute(query)
data= cur.fetchall()
df=pd.DataFrame(data)
df.head(10)

# Calculate the percentage of total revenue contributed by each product category.

In [ ]:
query ="""select upper(products.product_category) category,
round((sum(payments.payment_value)/(select sum(payment_value) from payments))*100,2) sales_percentage
from products join order_items
on products.product_id = order_items.product_id
join payments 
on payments.order_id = order_items.order_id
group by category order by sales_percentage desc
"""

cur.execute(query)
data = cur.fetchall()
data